* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  max-width: 1024px;
  margin: auto;
}
.main {
  width: 100%;
  height: 496px;
  background-image: url("https://i.postimg.cc/Kvg9Cv32/Hero.png");
  background-position: top;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 265px;
  height: 40px;
  padding-top: 89px;
  margin-bottom: 96px;
  font-size: 40px;
  letter-spacing: 3.89px;
  color: #fff;
}
#zone {
  width: 44%;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #fff;
  border-radius: 3px;
  font-size: 21px;
}
.down {
  position: absolute;
  top: 245px;
  left: 70%;
  font-size: 50px;
  color: #000;
  z-index: 5;
}
.hotZone {
  width: 60%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 464px;
  left: 290px;
}
.hotZone p {
  font-size: 18px;
  display: flex;
  margin: 20px 0 14px 26px;
}
.hotZone input {
  width: 130px;
  height: 42px;
  font-size: 20px;
  margin-left: 51px;
  border: none;
  color: #fff;
  margin-bottom: 20px;
}
.input1 {
  background: #8a82cc;
  border-radius: 5px;
}
.input2 {
  background: #ffa782;
  border-radius: 5px;
}
.input3 {
  background: #f5d005;
  border-radius: 5px;
}
.input4 {
  background: #559ac8;
  border-radius: 5px;
}
.down2 {
  color: #559ac8;
  margin: 121px 0 0px 512px;
}

.hr {
  margin: 110px 40px;
  background-image: linear-gradient(
    to right,
    #559ac8 30%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: 25%;
  background-size: 13px 1.8px;
  background-repeat: repeat-x;
}
.hr .iconDown {
  background: url(https://upload.cc/i1/2019/02/02/MsXzZ2.png) no-repeat center;
  background-color: #fff;
  color: #559ac8;
  border: 3px solid #559ac8;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 0 auto;
  margin-bottom: -12px;
}
#select {
  width: 109px;
  height: 36px;
  font-size: 36px;
  color: #8a82cc;
  font-style: normal;
  margin: 65px 458px 24px;
  display: block;
}
.list {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* margin: 0 20px; */
}
.li {
  width: 464px;
  /* height: 273px; */
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 36px 16px;
}
.pic {
  width: 464px;
  height: 155px;
}
.name {
  position: absolute;
  top: 117px;
  left: 22px;
  color: #fff;
  font-size: 24px;
}
.zone {
  position: absolute;
  top: 125px;
  right: 24px;
  font-size: 19px;
  color: #fff;
}
.moreinfo {
  margin: 0 10px;
}
p {
  font-size: 16px;
}
.opentime {
  background: url(https://i.postimg.cc/90MNkC9G/icons-clock.png) no-repeat;
  padding-left: 30px;
  background-position: left;
}
.address {
  background: url(https://i.postimg.cc/RZrX7cg1/icons-pin.png) no-repeat;
  padding-left: 30px;
  background-position: left;
}
.tel {
  background: url(https://i.postimg.cc/Y0Z8ygMH/icons-phone.png) no-repeat;
  padding: 4px 0 0 30px;
  background-position: left;
}
.telticket {
  display: flex;
  justify-content: space-between;
}
.ticketicon {
  background: url(https://i.postimg.cc/V6NRf4Nw/icons-tag.png) no-repeat;
  padding: 2px 0 0 30px;
  background-position: left;
}
.ticket {
  padding-bottom: 10px;
}
nav {
  clear: left;
  /*     width:30vw; */
  height: 5rem;
  /*     position:absolute; */
  bottom: 30px;
  /*     left:40%; */
}

nav #pageid {
  display: flex;
  justify-content: center;
}

nav #pageid > li {
  margin: 0.5rem;
}

nav #pageid a {
  text-decoration: none;
  color: #8a82cc;
}

nav #pageid .active {
  color: grey;
  font-weight: bold;
}

nav #pageid .disabled {
  color: grey;
}

.gotop {
  position: fixed;
  top: 350px;
  right: 170px;
  width: 24px;
  height: 24px;
}
footer {
  width: 100%;
  height: 90px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #559ac8;
  padding-top: 24px;
}
.source {
  color: #ffd366;
  padding-top: 15px;
}
